@use 'variables' as *;

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}


body {
	color: $clr-fg-3;
	background: $bg;
	font-family: $ui-font;
}

input,
button,
textarea,
select {
	border: none;
}

a {
	color: #0077b5;
	text-decoration: none;
}
a:hover {
	color: #005f8d;
}
a:active {
	color: #004d75;
}